DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
# google sheet
SHEET_API_URL=
# session
SESSION_SECRET=
# synology nas
NAS_PROTOCOL=https
NAS_HOST=ftp.rojpaiboon.co.th
NAS_PORT=5001
NAS_USERNAME=
NAS_PASSWORD=
NAS_BASE_PATH=/dashboard